/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(161, 161, 161);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(255, 255, 255);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(255, 255, 255);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(161, 161, 161);
  font: 20px Consolas;
  padding: 1em 1em 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgb(161, 161, 161);
}

/* Wrapper for item list */
.bm-item-list {
  color: rgb(40, 44, 52);
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  display: inline-block;
}
