/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=text] {
  height: 100%;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  font: 20px Consolas;
}

input[type=text]:focus{
    outline: none;
}

input[type=text].small-input {
  width: 2em;
}

input[type=text].medium-input {
  width: 4em;
}

button.wide-button {
  transition-duration: 0.3s;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 44, 52);
  font: 20px Consolas;
  border: 0;
  border-radius: 4px;
  margin: 0 1em;
  width: 85%;
  height: 2em;
}

button.wide-button:hover {
  background-color: rgb(36, 173, 48);
}
