/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=text] {
  height: 100%;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  font: 20px Consolas;
}

input[type=text]:focus{
    outline: none;
}

input[type=text].small-input {
  width: 2em;
}

input[type=text].medium-input {
  width: 4em;
}
